<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bessy Huang 的個人網頁</title>
    
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/tootik.min.css" %}" type="text/css"/>
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
	
</head>
<body>
	<div class="content"><!--大外框(box要有陰影)-->
		<div id="info">	<!--照片/姓名/性別/自我描述+聯絡資訊<github.gwiddle.codepen 地址、信箱、電話>(上方整塊)-->
			<div class="about-top"></div>
			<div id="about">
				<div class="img-bg"><img src="{% static "images/chia_me.jpg" %}"></div>
				<h2>黃丰嘉</h2>
				<h3>Feng-Chia Huang</h3>
				<p>我是一個主修圖資系，同時雙主修統資系的大學生。</p>
				<p>喜歡吸收新知、拉小提琴…各種陶冶性情的休閒活動我都愛，</p>
				<p>或是接受一些具有挑戰性且富有意義的事。</p>
			</div>
			<div id="contact" style="background-color: #F7F6E7;">
				<div class="contact-head" style="display: block;">
					<img src="{% static "images/contact.png" %}" style="width: 50px;height: 50px;">
					<h3>聯絡資訊</h3>
				</div>
				<div class="contact-col1">
					<div><p style="font-weight: 600;">Address&nbsp;&emsp;</p><p>&emsp;Taiwan Taipei&emsp;&emsp;&emsp;&emsp;&emsp;</p></div>
					<div><p style="font-weight: 600;">Phone&emsp;&emsp;</p><p>&emsp;+886 908 303 576&emsp;&emsp;&emsp;</p></div>
				</div>
				<div class="contact-col2">
					<div><p style="font-weight: 600;">&emsp;&emsp;Email</p><p>&nbsp;&emsp;&emsp;&emsp;bessy110576@gmail.com</p></div>
					<div><p style="font-weight: 600;">&emsp;&emsp;Website</p><p>&emsp;&emsp;<a href="http://bessyhuang.gwiddle.co.uk/" target="_blank">Chia's websites</a></p></div>
				</div>
			</div>
			<div style="background-color: #F7F6E7;">
				<div class="contact-col3" >
					<div id="icon-contact-01">
						<a href="https://github.com/bessyhuang" data-tootik="GitHub" data-tootik-conf="info bottom" target="_blank"><img src="{% static "images/GitHub.jpg" %}"></a>
						<a href="https://codepen.io/bessyhuang" data-tootik="CodePen" data-tootik-conf="info bottom" target="_blank"><img src="{% static "images/CodePen.png" %}"></a>
					</div>
				</div>
			</div>
		
		<!--嗜好/<技能 Skills><教育背景Education>、<工作經驗Experience>/成果(中間切三塊)-->
		<div id="hobby_favorite" style="background-color: #C1C0B9;">
			<div id="hobby" class="hobby-head" style="display: block;">
				<img src="{% static "images/hobby.png" %}" style="width: 50px;height: 50px;">
				<h3>嗜好</h3>
				<div id="hobby-content">
					<p>打羽球、游泳。拉小提琴。看電影。閱讀科技方面的報章雜誌。</p>
				</div>	
			<div>
			

			<div id="favorite" class="favorite-head" style="display: block;">
				<img src="{% static "images/favorite.png" %}" style="width: 50px;height: 50px;">
				<h3>勉勵自己的話</h3>

				<div id="favorite-content">
					<p>人生沒有彩排，每一天都是現場直播。</p>
					<p>能力是練出來的，潛能是逼出來的，習慣是養成的，成功是一步步走出來的。</p>
					<p>“If your WHY is not strong enough, you will continue to search for an easier 'how to'.” — Robert Kiyosaki</p>
				</div>
			</div>
		</div>
		</div>		
		<div style="background-color: #537791">
			<div id="skills" class="skills-head" style="display: block;">
				<img src="{% static "images/skills.png" %}" style="width: 50px;height: 50px;">
				<h3>技能</h3>
				<div>
					<p>善用工具簡化作業流程。重灌電腦。會寫一點程式。</p>
				</div>
			</div>
			
			<div id="projects" class="projects-head" style="display: block;">
				<img src="{% static "images/projects.png" %}" style="width: 50px;height: 50px;">
					<h3>成果</h3>
					<div>
						<p>正在努力累積中...</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>